$textColor: #dbdbdb;
$buttonColor: #ff515d;

.hm-login-form-text.field-group {
  margin-bottom: 1.2em;
  input[type="text"], input[type="password"] {
    font-size: .9em;
    color: $textColor;
    padding-bottom: .4em;
    padding-left: .8em;
    border-width: 0 0 1px 0;
    border-bottom: 1px solid $textColor;
    background-color: transparent;

    &:hover, &:active {
      border-color: #bbb;
      background-color: transparent;
      color: #222;
    }
  }

  .field-group-label {
    border: none;
    background: transparent;
    padding-left: 0;
    padding-right: 0;
    align-items: flex-end;

    >img {
      width: 60%;
    }
  }
}

.hm-login-header {
  height: 40%;
  text-align: center;
  >img {
    width: 50%;
    margin: 12% 0 10% 0;
  }
}

.hm-login-footer {
  height: 20%;
}

.hm-login-form {
  height: 30%;
  margin: auto 15%;
  text-align: center;
  button[type="submit"] {
    position: relative;
    width: 70%;
    font-size: 1.2em;
    margin-top: 5%;
    margin-bottom: 5%;
    border-color: $buttonColor;
    color: $buttonColor;
    border-radius: 5px;

    >.loader {
      position: absolute;
      width: 100%;
      left: 0;
      z-index: 10;
    }
  }
}
